body, html {
    background: #F1F5F8 !important;
}

table {
  font-family: arial, sans-serif;
  border: 5px solid black;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #EF4FD6;
  text-align: left;
  font-size: 110%;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #FFDBF5;
}

.unselectable{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.container {
	padding: 20px;
	background: #F1F5F8;
}

.box-container {
	text-align: center;
}

.box-title {
	font-weight: 500;
}

.log-container {
	background-color: white;
	border: 15px solid grey;
	border-style: double;
}

.log-container-sec {
	background-color: black;
	color: white;
	height: 100%;
}

.log-title {
	font-size: 120%;
}

.log-data-container {
	display: block;
  width: 100%;
  word-wrap: break-word;
}

.back {
  padding: 7px;
	float: right;
  background-color: white;
  border: 2px solid black;
}
