body, html {
    background: #F1F5F8 !important;
}

.login_contents {
    margin: 40px;
}

.login_box {
    margin: 125px auto 0;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 #ccc;
    border-radius: 6px 6px 0 0;
    overflow: auto;
}

.login_box .title {
    font-family: 'Nunito', sans-serif;
    color: #3D4A51;
    font-weight:600;
    font-size: 36px;
    margin-bottom:15px;
}

.login_box .form_input {
    background-color: #F7F7F7;
    border-color: #FFFFFF;
}

.login_box .form_input:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 1px 3px rgba(0, 216, 151, 0.5);
    border: 1px solid #00D8A1;
}

.login_box .label {
    font-family: 'Nunito', sans-serif;
    color: #3D4A51;
    font-weight:600;
}

.login_box .continue {
    background-color: #00D8A1;
    border-color: #00D8A1;
    font-family: 'Nunito', sans-serif;
    float:right;
    margin-bottom: 20px;
}

.login_box .status_danger {
    margin: 70px 40px 20px 40px;
    padding: 6px 10px;
    border-radius: 0;
    border: 2px solid #a42834;
}

.login_box .status_success {
    margin: 70px 40px 20px 40px;
    padding: 6px 10px;
    border-radius: 0;
    border: 2px solid #44a25a;
}

.login_box .continue:hover {
    background-color: #00c291;
    border-color: #00c291;
    font-family: 'Nunito', sans-serif;
}

.login_box .continue:focus {
    background-color: #00c291;
    border-color: #00c291;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 1px 3px rgba(0, 216, 151, 0.5);
}

.login_box .continue:active {
    background-color: #00c291 !important;
    border-color: #00c291 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 1px 3px rgba(0, 216, 151, 0.5) !important;
}

.register_box {
    color: #F7F7F7;
    padding: 20px;
    overflow: auto;
    border-radius: 0 0 6px 6px;
    clear: both;
    background-color: #3D4A51;
}

.register_box h4 {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    float: left;
    font-size: 1.4rem;
    line-height: 1.8;
}

.register_box #sign_up {
    float: right;
    border: 2px solid #F7F7F7;
    color: #F7F7F7;
}

.register_box #sign_up:hover {
    background-color: #F7F7F7;
    color: #3D4A51;
    box-shadow: none;
}

.register_box #sign_up:focus {
    box-shadow: none;
}
